<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mimity31.netlify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Mar 2018 07:02:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Home - Mimity</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/bootstrap/css/bootstrap.min.css') }}">

    <!-- Third Party CSS -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/map.css') }}">

    <!-- Mimity CSS -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/style.min.css') }}">
    <style>html, body {height: 100%;}#map {height: 100%;width:85%;}</style>


</head>
<body>

<!-- Offcanvas Menu -->
<nav class="offcanvas">
    <div class="offcanvas-content">
        <div id="list-menu" class="list-menu list-group" data-children=".sub-menu1">
            <a href="index-2.html"><i class="fa fa-fw fa-home"></i> Accueil</a>
            <a href="checkout.html"><i class="fa fa-fw fa-check"></i> Réclamation</a>
            <a href="products.html"><i class="fa fa-fw fa-tags"></i> Produits</a>
            <a href="cart.html"><i class="fa fa-fw fa-shopping-cart"></i> Lieux<span class="badge badge-secondary badge-pill float-right mt-1">4</span></a>
            <a href="checkout.html"><i class="fa fa-fw fa-check"></i> Evenements</a>
            <a href="checkout.html"><i class="fa fa-fw fa-check"></i> Réclamation</a>
            <!--    <div class="sub-menu1">
                    <a data-toggle="collapse" href="#" data-target="#sub1" role="button" aria-expanded="false" aria-controls="sub1"><i class="fa fa-fw fa-file"></i> Pages</a>
                    <div id="sub1" class="collapse" data-parent="#list-menu" role="tabpanel">
                        <a href="about.html">About Us</a>
                        <a href="blog.html">Blog</a>
                        <a href="blog-detail.html">Blog Detail</a>
                        <a href="compare.html">Compare</a>
                        <a href="contact.html">Contact Us</a>
                        <a href="cart-empty.html">Empty Shopping Cart</a>
                        <a href="404.html">Error 404</a>
                        <a href="faq.html">FAQ</a>
                        <a href="login.html">Login</a>
                        <a href="detail.html">Product Detail</a>
                        <a href="register.html">Register</a>
                        <div class="list-submenu" id="list-submenu" data-children=".sub-menu2">
                            <div class="sub-menu2">
                                <a data-toggle="collapse" href="#" data-target="#sub3" role="button" aria-expanded="false" aria-controls="sub3">Submenu</a>
                                <div id="sub3" class="collapse" data-parent="#list-submenu" role="tabpanel">
                                    <a href="#">Submenu 1</a>
                                    <a href="#">Submenu 2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            <div class="sub-menu1">
                <a data-toggle="collapse" href="#" data-target="#sub2" role="button" aria-expanded="false" aria-controls="sub2"><i class="fa fa-fw fa-user"></i> Mon Compte</a>
                <div id="sub2" class="collapse" data-parent="#list-menu" role="tabpanel">
                    <a href="account-order.html">Commandes</a>
                    <a href="account-profile.html">Profile</a>
                    <!--<a href="account-address.html">Addresses</a>-->
                    <a href="account-wishlist.html">Favoris</a>
                    <a href="account-password.html">Changer mot passe</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="content-overlay"></div>



{% block middleHeader %}

{% endblock %}

<div id="container">
    {% block menu %}
    {% endblock %}

    {% block Content %}
</div>




    {% endblock %}
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row equal-height">
                <div class="col-lg-3 col-md-6">
                    <div class="title-footer"><span>About Us</span></div>
                    <ul>
                        <li>
                            My Souk votre nouvelle boutique en ligne, 100% Tunisienne: Bijoux, Maison, Beauté...
                            Achetez vos articles en quelques #CLICS sur mysouk.tn
                            Nouveau concept store en ligne</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="title-footer"><span>Information</span></div>
                    <ul>
                        <li><i class="fa fa-angle-double-right"></i> <a href="faq.html">FAQ</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Policy Privacy</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Terms and Conditions</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="#">Shipping Methods</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="title-footer"><span>Our Store</span></div>
                    <ul class="footer-icon">
                        <li><span><i class="fa fa-map-marker"></i></span> Adresse: Agence Charguia2 Esprit CS </li>
                        <li><span><i class="fa fa-phone"></i></span> +71526832</li>
                        <li><span><i class="fa fa-envelope"></i></span> <a href="mailto:cs@domain.tld">mysouk@esprit.tn</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="title-footer"><span>Follow Us</span></div>
                    <ul class="follow-us">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="text-center copyright">
            Copyright &copy; 2018 Machmoum
        </div>
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Enter Your Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="InputUsername" class="font-weight-bold">Username</label>
                        <input type="text" class="form-control" id="InputUsername" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword" class="font-weight-bold">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                        <a href="#" class="float-right text-default"><small>Forgot Password ?</small></a>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkRememberMe">
                        <label class="custom-control-label" for="checkRememberMe">Remember Me</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-theme btn-sm">Enter</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Quick View Modal -->

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS, then required plugins -->
<script src="{{ asset('FrontEnd/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('FrontEnd/js/popper.min.js') }}"></script>
<script src="{{ asset('FrontEnd/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('FrontEnd/js/bootstrap3-typeahead.min.js') }}"></script>

<!-- Third Party JS -->
<script src="{{ asset('FrontEnd/js/owl.carousel.min.js') }}"></script>

<!-- Mimity JS -->
<script src="{{ asset('FrontEnd/js/mimity.min.js') }}"></script>
{% block map %}
{% endblock %}

</body>

<!-- Mirrored from mimity31.netlify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Mar 2018 07:02:57 GMT -->
</html>