{% set totalHT = 0 %}
{% set totalTTC = 0%}


<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('souk_front_end_elmadina_accueil') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Commande</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Main Container -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title"><span>Votre Commande Contient: {{ produits|length  }}  Produits</span></div>
            <table class="table table-bordered table-responsive-sm" add-class-on-xs="table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col" add-class-on-xs="w-75">Produit</th>
                    <th scope="col" class="text-center">Quantité</th>
                    <th scope="col" class="d-none d-sm-table-cell">Prix Unitaire</th>
                    <th scope="col" class="text-center">TVA</th>
                    <th scope="col" class="d-none d-sm-table-cell">Montant HT</th>
                </tr>
                </thead>
                <tbody>

                {% if produits|length == 0 %}
                    <tr>
                        <td colspan="4"><center>Aucun articles dans votre panier</center></td>
                    </tr>
                {% endif %}

                {% for produit in produits %}
                    <tr>
                        <form action="{{ path('ajouter_panier', { 'id' : produit.id }) }}" method="get">
                            <td>{{ produit.designation }}</td>
                            <td>
                                {{ panier[produit.id] }}
                            </td>
                            <td>{{ produit.prixunitaire }} TND </td>
                            <td>{{ produit.tauxtva }} % </td>
                            <td>{{ produit.prixunitaire * panier[produit.id] }} TND</td>
                        </form>
                    </tr>
                    {% set totalHT = totalHT + (produit.prixunitaire * panier[produit.id]) %}
                    {% set totalTTC = totalTTC + ((produit.prixunitaire * panier[produit.id]) + (produit.prixunitaire * panier[produit.id]) * (produit.tauxtva / 100))%}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-2">

        </div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">

            <div class="d-flex">
                <div>Total HT</div>
                <div class="ml-auto font-weight-bold">{{ totalHT }} TND</div>
            </div>


            <hr>
            <div class="d-flex">
                <div>Total TTc</div>
                <div class="ml-auto price h5 mb-0">{{ totalTTC }} TND</div>
            </div>
            <hr>
        </div>
        <div class="col-12 text-right" remove-class-on-xs="text-right" add-class-on-xs="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ path('facture_validation_commande' , {'id':commande.id}) }}" class="d-none d-sm-inline-block btn btn-outline-theme">Facturer</a>
            </div>
        </div>
    </div>

</div>

