
{% extends '::layout_FrontEnd.html.twig' %}
{% block Content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 mb-3">
			
			<div class="title"><span><h4> Détails de reclamation</h4></span></div>
			<br>
							<ul>
					<li><b>ID:</b> {{ reclamation.id }}</li>
					<li><b>Description:</b> {{ reclamation.description }}</li>
					<li><b>Sujet:</b> {{ reclamation.sujet }}</li>
					<li><b>Date du probleme: </b>{{ reclamation.dateProbleme |date }}</li>
					<li><b>Date_reclamation:</b> {{ reclamation.dateReclamation |date}}</li>
				</ul>
				
				
					<a href="{{ path ('reclamation_update',{'id':reclamation.id }) }}"><b>Mise à jour</b></a>
					<a href="{{ path ('reclamation_delete', {'id':reclamation.id }) }}"><b>Supprimer</b></a>
					<a href="{{ path('quitter', {'id':reclamation.id}) }}">Quittter</a>
					
			<hr>
		</div>
	</div>
</div>
{% endblock %}

			
		
	







