{% extends 'layout_BackEnd.html.twig' %}

{% block Content %}


    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Canvab</a></li>
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                        <li class="breadcrumb-item active">Datatable</li>
                    </ol>
                </div>
                <h4 class="page-title">Commande details </h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Details de la commande N° : {{ header.id }}</h4>
                    <ul>
                        <li>créée par : {{ header.idutilisateur.username }}</li>
                        <li>Date de création {% if header.datecmd %}{{ header.datecmd|date('Y-m-d H:i:s') }}{% endif %}</li>
                    </ul>


                    <table id="datatable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Numero Commande</th>
                            <th>Nom produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Montant HT</th>

                        </tr>
                        </thead>


                        <tbody>
                        {% for p in postes %}
                            <tr>
                                <td> {{ p.idcommande.id }}</td>
                                <td><a href="">{{ p.idproduit.id }}</a></td>
                                <td>{{ p.quantite }}</td>
                                <td>{{ p.prixunitaire }}</td>
                                <td>{{ p.montantht }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <ul>
                        <li>Total HT:<b>{{ header.montantHT }}</b></li>
                        <li>Total TTC:<b>{{ header.montantTTC }}</b></li>
                        <li><a href="{{ path('commande_backend_liste') }}"> << Retour:</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->


{% endblock %}
