{% extends 'layout_BackEnd.html.twig' %}

{% block Content %}


    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Canvab</a></li>
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                        <li class="breadcrumb-item active">Datatable</li>
                    </ol>
                </div>
                <h4 class="page-title">Commandes VAlidées (Factures)</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">

                 

                    <table id="datatable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Numero Commande</th>
                            <th>Numéro Facture</th>
                            <th>Date Facture</th>
                            <th>Total HT</th>
                            <th>Total TTC</th>

                        </tr>
                        </thead>


                        <tbody>
                        {% for f in factures %}
                            <tr>
                                <td><a href="{{ path('commande_backend_details', { 'id': f.idcommande.id }) }}"> {{ f.idcommande.id }}</a></td>
                                <td>{{ f.id }}</td>
                                <td>{% if f.datefact %}{{ f.datefact|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ f.idcommande.montantHT }}</td>
                                <td>{{ f.idcommande.montantTTC }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->


{% endblock %}
