<!DOCTYPE html>
<html lang="en">
<head>
    <style>html, body {height: 100%;}#map {height: 100%;width:85%;}</style>

</head>
<body>


<div class="map" id="map"></div>









<h1>Lieu</h1>

    <table>
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ lieu.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lieu.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
        </tbody>

    </table>

    <ul>
        <li>
            <a href="{{ path('lieu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lieu_edit', { 'id': lieu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


<!-- Map -->
<script>
    var marker1;
    var poly, geodesicPoly;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: 35.2, lng: 10.0}
        });

        map.controls[google.maps.ControlPosition.TOP_CENTER].push(
            document.getElementById('info'));

        marker1 = new google.maps.Marker({
            map: map,
            draggable: true,
            position: {lat: {{ lieu.lat }}, lng: {{ lieu.log }}}
        });




        google.maps.event.addListener(marker1, 'position_changed', update);


        poly = new google.maps.Polyline({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            map: map,
        });

        geodesicPoly = new google.maps.Polyline({
            strokeColor: '#CC0099',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            geodesic: true,
            map: map
        });

        update();
    }

    function update() {
        var path = marker1.getPosition();
        poly.setPath(path);
        geodesicPoly.setPath(path);


        document.getElementById('origin').value = path.toString();

    }

</script>
<script>
    $(function() {
        $( "#dat" ).datepicker();
    });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpLuOqD-YeUvlY1wGgkGI1k8IX_18a1Y0&signed_in=true&language=ar&callback=initMap"></script>




</body>

<!-- Mirrored from mimity31.netlify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Mar 2018 07:02:57 GMT -->
</html>