{% extends 'layout_FrontEnd.html.twig' %}

{% block Content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="title"><span>Latest Blog</span></div>
                <div class="row">
                    {% for event in events %}
                    <div class="col-lg-6 mb-4">
                        <div class="card blog-list">
                            <a href="blog-detail.html" class="p-1"><img class="card-img-top" src="images/blog/blog1.jpg" alt="Blog image"></a>
                            <div class="card-body pb-0">
                                <h5 class="card-title"><a class="text-default" href="blog-detail.html">{{ event.libelle }}</a></h5>
                                <p class="card-text">{{ event.description }}</p>
                                <a href="blog-detail.html" class="btn btn-theme btn-sm float-right">Read more</a>
                            </div>
                            <div class="card-footer bg-transparent border-top-0 text-muted py-0">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><small><i class="fa fa-clock-o"></i>  {{ event.dateevent|date('Y-m-d H:i:s') }}</small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-tag"></i> <a href="#" class="text-muted">{{ event.idlieu.libelle }}</a></small></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <!--<div class="col-lg-6 mb-4">
                        <div class="card blog-list">
                            <a href="blog-detail.html" class="p-1"><img class="card-img-top" src="images/blog/blog2.jpg" alt="Blog image"></a>
                            <div class="card-body pb-0">
                                <h5 class="card-title"><a class="text-default" href="blog-detail.html">Lorem ipsum dolor sit amet</a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="blog-detail.html" class="btn btn-theme btn-sm float-right">Read more</a>
                            </div>
                            <div class="card-footer bg-transparent border-top-0 text-muted py-0">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><small><i class="fa fa-clock-o"></i> Jan 01, 18</small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-user"></i> <a href="#" class="text-muted">Admin</a></small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-tag"></i> <a href="#" class="text-muted">Tags</a></small></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card blog-list">
                            <a href="blog-detail.html" class="p-1"><img class="card-img-top" src="images/blog/blog3.jpg" alt="Blog image"></a>
                            <div class="card-body pb-0">
                                <h5 class="card-title"><a class="text-default" href="blog-detail.html">Lorem ipsum dolor sit amet</a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="blog-detail.html" class="btn btn-theme btn-sm float-right">Read more</a>
                            </div>
                            <div class="card-footer bg-transparent border-top-0 text-muted py-0">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><small><i class="fa fa-clock-o"></i> Jan 01, 18</small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-user"></i> <a href="#" class="text-muted">Admin</a></small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-tag"></i> <a href="#" class="text-muted">Tags</a></small></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card blog-list">
                            <a href="blog-detail.html" class="p-1"><img class="card-img-top" src="images/blog/blog4.jpg" alt="Blog image"></a>
                            <div class="card-body pb-0">
                                <h5 class="card-title"><a class="text-default" href="blog-detail.html">Lorem ipsum dolor sit amet</a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="blog-detail.html" class="btn btn-theme btn-sm float-right">Read more</a>
                            </div>
                            <div class="card-footer bg-transparent border-top-0 text-muted py-0">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><small><i class="fa fa-clock-o"></i> Jan 01, 18</small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-user"></i> <a href="#" class="text-muted">Admin</a></small></li>
                                    <li class="list-inline-item"><small><i class="fa fa-tag"></i> <a href="#" class="text-muted">Tags</a></small></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->


                    <div class="col">
                        <nav aria-label="Product Listing Page" class="d-flex justify-content-center mt-3">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&lsaquo;</a></li>
                                <li class="page-item active"><span class="page-link" href="#">1</span></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&rsaquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="title"><span>Categories</span></div>

                <div class="list-group mb-4">
                   <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0 border-top-0">&raquo;</a>
                     <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0">&raquo; Events</a>
                      <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0">&raquo; Promotions</a>
                  </div>

                <div class="title"><span>Archives</span></div>
                <div class="list-group">
                    <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0 border-top-0">&raquo; January 2017</a>
                    <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0">&raquo; February 2017</a>
                    <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0">&raquo; March 2017</a>
                    <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0">&raquo; April 2017</a>
                    <a href="blog.html" class="list-group-item list-group-item-action pl-2 border-left-0 border-right-0">&raquo; May 2017</a>
                </div>
            </div>
        </div>
    </div>





    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.libelle }}</a></td>
                <td>{{ event.description }}</td>
                <td>{{ event.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
